body {
  background-color: #070b0d;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7ed;
}

.gnb img {
  width: 50px;
}

.gnb_menu {
  display: flex;
  gap: 30px;
}

a:hover {
  color: #767882;
}

.main {
  background-color: #070b0d;
}

.logo {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text {
  font-family: SadocWild;
  color: white;
  font-size: 100px;
  padding-left: 40px;
}
.container {
  background-color: #070b0d;
  max-width: 1200px;
  margin: 50px auto;
  border: 1px solid black;
}

.member-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.member {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

.member img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.name {
  color: white;
  padding: 10px;
  font-weight: bold;
}

.text {
  color: white;
  padding: 15px;
  font-size: 14px;
  line-height: 1.8;
  border-top: 1px solid black;
}
