.big-container {
  background-color: #070b0d;
}

body::-webkit-scrollbar {
  display: none;
}
/* gnb */
a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  font-family: "Pretendard";
  background-color: #ffffff;
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7ed;
}

.gnb img {
  width: 50px;
}

.gnb_menu {
  display: flex;
  gap: 30px;
}

a:hover {
  color: #767882;
}

/* main */
.main {
  background-color: #070b0d;
}

.small-log {
  width: 120px;
  height: 120px;
}

.logo {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text {
  font-family: SadocWild;
  color: white;
  font-size: 100px;
  padding-left: 40px;
}

.container {
  background-color: #070b0d;
  max-width: 1200px;
  margin: 50px auto;
  border: 1px solid black;
}

.member-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.member {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

.member img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.name {
  color: white;
  padding: 10px;
  font-weight: bold;
}

.text {
  color: white;
  padding: 15px;
  font-size: 14px;
  line-height: 1.8;
  border-top: 1px solid black;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background-color: white;
  color: #4f5054;
  scroll-snap-align: start;
}

.footer p {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 500px;

  font-family: "Pretendard";
  font-weight: 100;
}

.footer img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
}

.footer_social {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 500px;
  gap: 20px;
}
