* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  display: block; /*이미지 아래의 알 수 없는 여백 제거*/
  width: 100%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;

  padding: 100px;

  background-image: url("");
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

/*최신 동영상 목록 : 최신영상 텍스트 + 비디오 묶음 */
.latest-videos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*가로형 목록 스타일*/
.video-list-row {
  display: flex;
  gap: 30px;
  align-items: flex-end;
}

/*세로형 목록 스타일*/
.video-list-col {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*비디오 랭킹 스타일*/
.video-ranking-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/*전체 비디오 목록 스타일*/
.all-videos-container {
  display: flex;
  gap: 100px;
}

.magazine-videos,
.own-content-videos,
.variety-show-videos {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*폰트 스타일*/
.title {
  font-family: SadocWild;

  font-size: 100px;
  position: relative;
  top: -25px;
  left: -25px;
}

.sub-title {
  font-size: 40px;
  font-weight: 300;
}

.latest-videos .sub-title,
.view-ranking .sub-title {
  font-size: 25px;
  font-weight: 500;
}

/*iframe 스타일*/
iframe {
  flex-shrink: 0;
}

/*썸네일 비디오 관련 스타일*/
.video {
  width: 300px;
  overflow: hidden; /* 혹시라도 이미지가 삐져나오면 가림 */
  flex-shrink: 0; /*여기서 설정한대로 width가 안 먹었던 이유가!!!이 설정을 안해줬기 때문이었다.
  그래서 여기서 설정한 width는 안되는데, img로 설정하면 됐던이유도 img는 flex-shrink가 이미 되어있나보지...
  근데 검색해보니 img는 디폴트값이 1이라는데 우케 된거지 흠~*/
}
