* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  display: block; /*이미지 아래의 알 수 없는 여백 제거*/
  width: 100%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;

  padding: 100px 0;

  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
    url("../img/activities-background2.webp");
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

/*최신 동영상 목록 : 최신영상 텍스트 + 비디오 묶음 */
.latest-videos {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 25px 100px;

  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 100px black;
}
/*비디오 랭킹 스타일*/

.view-ranking {
  display: flex;
  flex-direction: column;
  padding: 25px 100px;

  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 100px black;
}

.video-ranking-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/*전체 비디오 목록 스타일*/
.all-videos-container {
  display: flex;
  gap: 100px;

  padding: 25px 100px;

  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 100px black;
}

/*가로형 목록 스타일*/
.video-list-row {
  display: flex;
  gap: 30px;
  align-items: flex-end;
}

/*세로형 목록 스타일*/
.video-list-col {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.magazine-videos,
.own-content-videos,
.variety-show-videos {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/*폰트 스타일*/
.title {
  font-family: SadocWild;

  font-size: 100px;
  position: relative;
  top: -25px;
  left: 25px;

  color: #7a1118;
  text-shadow: 0 0 10px black;
}

.sub-title {
  color: #ffffff;
  text-shadow: 0 0 10px rgb(255, 255, 255);

  font-size: 40px;
  font-weight: 200;
}

.latest-videos .sub-title,
.view-ranking .sub-title {
  font-size: 25px;
  font-weight: 500;
}

.rank-text {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

/*iframe 스타일*/
iframe {
  flex-shrink: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

/*썸네일 비디오 관련 스타일*/
.video {
  width: 300px;
  overflow: hidden; /* 혹시라도 이미지가 삐져나오면 가림 */
  flex-shrink: 0; /*여기서 설정한대로 width가 안 먹었던 이유가!!!이 설정을 안해줬기 때문이었다.
  그래서 여기서 설정한 width는 안되는데, img로 설정하면 됐던이유도 img는 flex-shrink가 이미 되어있나보지...
  근데 검색해보니 img는 디폴트값이 1이라는데 우케 된거지 흠~*/
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
