* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  display: block; /*이미지 아래의 알 수 없는 여백 제거*/
  max-width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;

  padding: 100px;
}

.title {
  /*디자인 폰트 적용하기*/
}

/*최신 동영상 목록 : 최신영상 텍스트 + 비디오 묶음 */
.latest-videos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*가로형 목록 스타일*/
.video-list-row {
  display: flex;
  gap: 30px;
}

/*세로형 목록 스타일*/
.video-list-col {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*썸네일 비디오 관련 스타일*/
.video {
  width: 500px;
}
