* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
main img {
  display: block; /*이미지 아래의 알 수 없는 여백 제거*/
  width: 100%;
  height: auto;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

main img:hover {
  filter: brightness(0.5);
}

main {
  display: flex;
  flex-direction: column;
  gap: 200px;

  padding: 100px 0;

  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
    url("../img/activities-background2.webp");
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

/*최신 동영상 목록 : 최신영상 텍스트 + 비디오 묶음 */
.latest-videos {
  display: flex;
  gap: 20px;
  flex-direction: column;

  padding: 25px 150px;

  background-color: rgba(0, 0, 0, 0.7);
  box-shadow:
    inset 0 0 100px black,
    0 0 20px rgba(0, 0, 0, 0.426);
}
.latest-videos-container {
}

/*비디오 랭킹 스타일*/
.view-ranking {
  display: flex;
  flex-direction: column;

  padding: 25px 150px;
  gap: 20px;

  background-color: rgba(0, 0, 0, 0.7);
  box-shadow:
    inset 0 0 100px black,
    0 0 20px rgba(0, 0, 0, 0.426);
}

.video-ranking-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
}

.view-1st,
.view-2nd,
.view-3rd {
  position: relative;
}

/*전체 비디오 목록 스타일*/
.all-videos-container {
  display: flex;
  justify-content: center;
  gap: 150px;

  padding: 25px 100px;
  height: 1000px;
  width: auto;

  /* background-color: rgba(0, 0, 0, 0.5); */
  /* box-shadow: inset 0 0 100px black; */
}

/*가로형 목록 스타일*/
.video-list-row {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  padding: 15px 0; /*스크롤바와 콘텐츠를 사이를 벌리기 위함*/

  overflow: overlay; /*이렇게 해야 스크롤바가 콘텐츠를 가리지 않는다*/
}

/*세로형 목록 스타일*/
.video-list-col {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 15px; /*스크롤바와 콘텐츠를 사이를 벌리기 위함*/

  overflow: overlay; /*이렇게 해야 스크롤바가 콘텐츠를 가리지 않는다*/

  /* box-shadow:
    inset 0 15px 20px -20px #000000,
    inset 0 -15px 20px -20px #000000; */
}

.magazine-videos,
.own-content-videos,
.variety-show-videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/*폰트 스타일*/
.title {
  font-family: SadocWild;

  font-size: 180px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #961a22b6;
  text-shadow: 0 0 10px black;
}

.sub-title {
  color: #f7f7f7;
  text-shadow: 0 0 10px rgb(0, 0, 0);

  font-size: 40px;
  font-weight: 200;
}

.latest-videos .sub-title,
.view-ranking .sub-title {
  /*타이틀 옆으로 보내는 것 관련 속성. */
  /* writing-mode: vertical-rl;
  text-align: left;
  transform: rotate(180deg);
  letter-spacing: 2px;
  line-height: 1; */

  font-size: 30px;
  font-weight: 500;
}

.rank-text {
  color: #fff;
  text-shadow: 0 0 10px black;
  font-size: 50px;
  font-weight: 200;
  margin-top: 10px;

  position: absolute;
  top: 5px;
  left: 10px;
}

.video-title {
  color: #f0f0f0;
  font-size: 18px;
  font-weight: 500;
  text-shadow: 0 0 10px black;
}

/*iframe 스타일*/
.iframe-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
iframe {
  flex-shrink: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
/*iframe은 바로 재생 가능하기때문에 hover 하면 영상이 어두워져서 하지 말기*/
/* iframe:hover {
  filter: brightness(0.5);
} */

/*썸네일 비디오 관련 스타일*/
.video {
  width: 300px;
  overflow: hidden; /* 혹시라도 이미지가 삐져나오면 가림 */
  flex-shrink: 0; /*여기서 설정한대로 width가 안 먹었던 이유가!!!이 설정을 안해줬기 때문이었다.
  그래서 여기서 설정한 width는 안되는데, img로 설정하면 됐던이유도 img는 flex-shrink가 이미 되어있나보지...
  근데 검색해보니 img는 디폴트값이 1이라는데 우케 된거지 흠~*/
}

.video a {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.video:hover {
  transform: scale(1.05);
}

/*플로팅 버튼*/
.floating-btn-container {
  /*이렇게 컨테이너가 있어야 버튼을 오른쪽에 배치 가능.
  fixed라면 그냥 bottom, right 설정으로 됐겠지만, sticky는 원래 본인 자리를 차지하고, 그 기준으로 되는 거니까..
  sticky인 물체가 움직일 수 있는 공간이 딱 그 물체만큼으로 한정되어 있었을 것임.그래서 공간을 주기 위해 얘가 필요.*/
  display: flex;
  justify-content: right;

  /*아래에서 떨어진 간격은 여기서 정함*/
  position: sticky;
  bottom: 30px;
}
#floating-btn-youtube {
  background-color: black;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.764);
  width: 110px;
  height: 110px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  /*오른쪽에서 떨어진 간격은 여기서 정함*/
  position: sticky;
  right: 30px;
}
/*플로팅 버튼 내부 유튜브 로고*/
.youtube-logo {
  width: 70px;
  height: 49px;
  background-color: #ffffff;
  border-radius: 15px; /* 둥근 모서리 */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 내부 재생 삼각형 */
.youtube-logo::after {
  content: "";
  border-style: solid;
  border-width: 10.5px 0 10.5px 17.5px; /* 삼각형 크기 */
  border-color: transparent transparent transparent #000000; /* 삼각형 색상 */
  margin-left: 5px; /* 중앙 정렬 미세조정 */
}

/* 스크롤바 전체 영역 */
::-webkit-scrollbar {
  width: 6px; /* 세로축 스크롤바 폭 너비 */
  height: 6px; /* 가로축 스크롤바 폭 너비 */
}
/* 스크롤바 막대 */
::-webkit-scrollbar-thumb {
  background: #ffffff; /* 스크롤바 막대 색상 */
  border-radius: 12px 12px 12px 12px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #d3d3d9;
}
/*내 페이지 전용 header 추가 스타일 사항*/
.header {
  z-index: 1000;
}
/*내 페이지 전용 footer 추가 스타일 사항*/
.footer {
  background-color: #070b0d;
  padding: 20px;
}
