* {
  box-sizing: border-box;
}
/* 커뮤니티 본문 */
body {
  font-family: "Noto Sans KR", sans-serif;
  background: #fff;
  color: #222;
  margin: 0 0;
}

/* 헤더 */
header h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 70px;
}

/* 탭 메뉴 */
.tab-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.tab-menu a {
  text-decoration: none;
  color: #666;
  font-weight: 500;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}

.tab-menu a.active {
  border-color: #222;
  color: #222;
  font-weight: 700;
}

/* 게시판 리스트 */
.board-list {
  list-style: none;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  margin: 30px 150px;
  padding: 10px;
}

.board-list li {
  display: grid;
  grid-template-columns: 60px 1fr 120px 120px;
  align-items: center;
  gap: 10px;
  padding: 12px 8px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #eee;
}

.board-list li.header {
  background: #fafafa;
  font-weight: 700;
}

.board-list li p {
  margin: 0; /* p 기본 margin 제거 */
}

.board-list li .no,
.board-list li .author,
.board-list li .date {
  text-align: center;
  color: #666;
}

.board-list li .title {
  color: #333;
  text-align: center;
}

/* 홀수행 배경색 */
.board-list li:nth-child(odd):not(.header) {
  background: #fcfcfc;
}

/* 검색창 */
.search-box {
  text-align: center;
}

.search-box input {
  width: 250px;
  padding: 8px 12px;
  height: 25px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  outline: none;
}

.search-box button {
  padding: 8px 12px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-left: none;
  background: #222;
  color: #fff;
  cursor: pointer;
}

.search-box button:hover {
  background: #444;
}

/* 글쓰기 버튼 */
.class-write-btn {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 180px;
}
.write-btn {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  background: #222;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  float: right;
  font-weight: 600;
  border: none;
}

.write-btn:hover {
  background: #444;
}

.writing {
  width: 400px;
  margin: 80px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.writing-firstName {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.writing section {
  width: 100%;
}
.text-value {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
}
.textBox {
  height: 50px;
}
.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
input::placeholder {
  color: #b8b8b8;
}
