body {
    background-color: black;
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1000;
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7ed;
}

.gnb img {
  width: 50px;
}

.gnb_menu {
  display: flex;
  gap: 30px;
}

a:hover {
  color: #767882;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background-color: white;
  color: #4f5054;
}

.footer_social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  width: 30px;
}
