body {
    overflow: auto;
    margin: 0;
    font-family: 'Pretendard', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

/* ================= 상단 ================= */

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

.gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e7ed;
}

.gnb img {
    width: 50px;
}

.gnb_menu {
    display: flex;
    gap: 30px;
}

a:hover {
    color: #767882;
}

/* ================= 메인 ================= */
main {
    margin-right: 280px;
    padding-top: 90px;
}

.disco_main_img {
    background-image: url("../img/배경.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    height: 100vh;
}



/* ================= 앨범 상세 ================= */
.disco_album_detail {
    scroll-margin-top: 90px;
    display: none;
    max-width: 800px;
    min-height: 880px;
    margin: 0 auto 100px;
    padding: 40px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.disco_album_detail:target {
    display: block;
}

.disco_album_detail h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.disco_album_detail img {
    width: 300px;
    display: block;
    margin: 0 auto 20px;
    border-radius: 8px;
}

.disco_album_detail p {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
}

.disco_album_detail h3 {
    margin-bottom: 15px;
    border-bottom: 2px solid #111;
    padding-bottom: 5px;
}

.disco_album_detail ol {
    padding-left: 20px;
}

.disco_album_detail li {
    margin-bottom: 6px;
}

/* ================= 사이드 바 ================= */

.disco_sidebar {
    width: 310px;
    height: calc(100vh - 90px);
    position: fixed;
    right: 0;
    top: 93px;
    background: #111;
    color: white;
    padding: 40px 20px;
    overflow-y: auto;
}

.disco_sidebar details {
    margin-bottom: 20px;
}

.disco_sidebar summary {
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    background: #222;
    gap: 10px;
}

.disco_sidebar summary::-webkit-details-marker {
    display: none;
}

.disco_album {
    display: block;
    text-decoration: none;
    color: #ccc;
    padding: 8px 12px;
    font-size: 14px;
    transition: 0.2s;
}

.disco_album:hover {
    background: #333;
    color: white;
    border-radius: 4px;
}

/* ================= 하단 ================= */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: white;
    color: #4F5054;
    position: relative;
    z-index: 1000;
}

.footer_social {
    display: flex;
    justify-content: center;
}

.footer img {
    width: 30px;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('../font/SadocWild.ttf') format('truetype');
}