.gallery {
    max-width: 2100px;
    margin: 0 auto;
    padding: 180px 20px;
}

.gallery-title {
    font-size: 38px;
    color: #4F5054;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'MyCustomFont'; 
    
}

/*기본틀*/
.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.gallery-item {
    background: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
}

/* 이미지 공통 */
.gallery-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    transition: 0.3s;
}

.gallery-item img:hover {
    transform: scale(1.03);
}

/* 영상 */
.video-item iframe {
    width: 100%;
    height: 400px;
    border: none;
}

/*  위치 지정 */
.video-item {
    grid-column: 2;
    grid-row: 1;
}

.group-item {
    grid-column: 2;
    grid-row: 2;
}

@font-face {
    font-family: 'MyCustomFont';          /* 웹에서 사용할 이름 */
    src: url('../font/SadocWild.ttf') format('truetype');  /*폰트 파일 경로와 타입 */
}