/*index.css*/

body {
  background-color: #070b0d;
  overflow: auto;
  
}

body::-webkit-scrollbar {
    display: none;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7ed;
}

.gnb img {
  width: 50px;
}

.gnb_menu {
  display: flex;
  gap: 30px;
}

a:hover {
  color: #767882;
}

/*메인이 남은 여백 자리 차지*/
main {
  flex: 1;
}

/*메인 섹션*/
.gallery {
    max-width: 2100px;
    margin: 0 auto;
    padding: 100px 20px; 
}

.gallery-title {
    font-size: 58px;
    color: #4F5054;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'MyCustomFont'; 
    margin-top: -40px;
    
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    margin-top: 60px;
}

.gallery-item {
    background: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
}

/* 이미지 공통 */
.gallery-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    transition: 0.3s;
}

.gallery-item img:hover {
    transform: scale(1.03);
}

/* 영상 */
.video-item iframe {
    width: 100%;
    height: 400px;
    border: none;
}

/*  위치 지정 */
.video-item {
    grid-column: 2;
    grid-row: 1;
}

.group-item {
    grid-column: 2;
    grid-row: 2;
}

@font-face {
    font-family: 'MyCustomFont';          /* 웹에서 사용할 이름 */
    src: url('../font/SadocWild.ttf') format('truetype');  /*폰트 파일 경로와 타입 */
}


/*index.css*/
.footer {
 }

.footer_social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  width: 30px;
 }