

* {
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.main {
    display: flex;
    min-height: calc(100vh - 95px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.main_font_title {
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    font-family: SadocWild;
    font-size: 100px;
    color: #FFFFFF;
}

.main_font_content {
    font-size: 30px;
}

.main_section1 {
    display: flex;
    min-height: calc(100vh - 95px);
    padding: 100px 200px;
    justify-content: start;
    align-items: center;

    scroll-snap-align: start;
    scroll-margin-top: 95px;
}

.main_section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 95px);
    gap: 50px;
    
    scroll-snap-align: start;
    scroll-margin-top: 95px;
}

.main_section2 img {
    display: flex;
    height: 650px;
    border-radius: 0px;
}

.main_section2_container {
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#genre {
    display: flex;
    flex-direction: column;
    font-family: "SadocWild";
    justify-content: center;
    align-items: start;
    font-size: 50px;
    color: black;
    gap: 50px;
}

.genre_label {
    padding: 10px;
    background-color: #7A1118;
}

#genre_cont {
    font-family: "Pretendard";
    font-size: 16px;
    line-height: 1.6;
    color: #b6b8bf;
}

#postrock {
    padding-left: 100px;
}

#exprock {
    padding-left: 50px;
    font-size: 45px;
}

.main_section3 {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 95px);
    padding: 100px 200px;
    align-items: center;
    gap: 50px;

    scroll-snap-align: start;
    scroll-margin-top: 95px;
}

.main_section3_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main_section3_title {
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    font-family: "SadocWild";
    font-size: 70px;
    color: #7A1118;
    text-shadow: 1px 1px 1px #FFFFFF;
}

.main_section3_p {
    font-family: "Pretendard";
    font-size: 25px;
    color: #000000;
    background-color: #ffffff;
    padding: 5px;
}

.main_section3 img {
    width: 400px;
}

/*
.btn_container {
    display: flex;
    justify-content: end;
    align-items: center;
}

#top_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    color:#4F5054;
    border-radius: 100px;
    font-size: 20px;
}
*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: white;
    color: #4F5054;
    scroll-snap-align: start;
}