* {
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    background-color: black;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #ffffff;
}

.gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e7ed;
}

.gnb img {
    width: 50px;
}

.gnb_menu {
    display: flex;
    gap: 30px;
}

a:hover {
    color: #767882;
}
    
.main {
    display: flex;
    min-height: calc(100vh - 95px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_font_title {
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    font-family: SadocWild;
    font-size: 100px;
    color: #FFFFFF;
}

.main_font_content {
    font-size: 30px;
}

.main_section1 {
    display: flex;
    min-height: calc(100vh - 95px);
    padding: 100px 200px;
    justify-content: start;
    align-items: center;

    scroll-snap-align: start;
    scroll-margin-top: 95px;
}

.main_section1_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main_section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 95px);
    padding: 100px 200px;
    gap: 50px;
    
    scroll-snap-align: start;
    scroll-margin-top: 95px;
}

.main_section2 img {
    display: flex;
    height: 650px;
    border-radius: 0px;
}

.main_section3 {
    display: flex;
    min-height: calc(100vh - 95px);
    padding: 100px 200px;
    justify-content: start;
    align-items: center;

    scroll-snap-align: start;
    scroll-margin-top: 95px;
}

.main_section3_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main_section3 img {
    width: 600px;
}

/*
#top_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    color:#4F5054;
    background-color: white;
    border-radius: 100px;
    font-size: 20px;
    
}
*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: white;
    color: #4F5054;
    
    scroll-snap-align: start;
}

.footer_social {
    display: flex;
    justify-content: center;
}

.footer img {
    width: 30px;
}
