body {
    min-height: 100vh;
    background-color: #000;
    background-image:
        radial-gradient(circle at 30% 30%, rgba(4, 52, 52, 0.25) 0%, transparent 60%),
        radial-gradient(circle at 70% 70%, rgba(122, 17, 24, 0.25) 0%, transparent 60%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

.gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e7ed;
}

.gnb img {
    width: 50px;
}

.gnb_menu {
    display: flex;
    gap: 30px;
}

a:hover {
    color: #767882;
}
    
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_section1 {
    display: flex;
    width: 800px;
    padding: 100px 200px;
    margin-bottom: 200px;
    justify-content: start;
}

.main_section1 img {
    display: flex;
    justify-content: start;
    height: 700px;
    border-radius: 50px;
}

/*
.main_section1_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: start;
    padding: 50px;
    gap: 30px;
}
*/

.main_section2 {
    display: flex;
    justify-content: end;
    width: 800px;
    padding: 100px 200px;
}

.main_section2 img {
    display: flex;
    height: 700px;
    border-radius: 50px;
}

/* 메인 내용 뺌
.main_font_title {
    font-family: SadocWild;
    font-size: 100px;
}

.main_font_content {
    font-size: 30px;
}
*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: white;
    color: #4F5054;
}

.footer_social {
    display: flex;
    justify-content: center;
}

.footer img {
    width: 30px;
}
