* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

.gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e7ed;
}

.gnb img {
    width: 50px;
}

.gnb_menu {
    display: flex;
    gap: 30px;
}

a:hover {
    color: #767882;
}
    
.main {
    display: flex;
    min-height: calc(100vh - 90px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_section1 {
    display: flex;
    padding: 100px 200px;
    justify-content: start;
    gap: 50px;
}

/*
.main_section1 img {
    display: flex;
    height: 800px;
    border-radius: 0px;
}
*/

.main_section1_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/*
.main_section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    padding: 100px 200px;
}

.main_section2 img {
    display: flex;
    height: 700px;
    border-radius: 0px;
}
*/


.main_font_title {
    font-family: SadocWild;
    font-size: 100px;
    color: #FFFFFF;
}

.main_font_content {
    font-size: 30px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: white;
    color: #4F5054;
}

.footer_social {
    display: flex;
    justify-content: center;
}

.footer img {
    width: 30px;
}
