body {
  background-color: #070B0D;
  color: white;
  overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}

/* --------top-------- */
a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.top {
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

.gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e7ed;
}

.gnb img {
    width: 50px;
}

.gnb_menu {
    display: flex;
    gap: 30px;
}

a:hover {
    color: #767882;
}

/* ------header------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 20px;
  padding: 300px 200px;
  /* border: 1px solid white; */

  font-size: 60px;
  font-weight: 800;
  
}

header::after {
  content: ""; /* 가상 요소 필수 속성 */
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url(../img/schedule-concert.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: -1;
}

.header_a {
  cursor: pointer;
  text-decoration: none;
  font-size: 35px;
  font-weight: 400;
  color: #c6c6c8;
  
}

.title {
  display: flex;
  /* flex-direction: column; */
  align-items: end;
  font-family: SadocWild;
  gap: 30px;
  font-size: 100px;
}




.title-p {
  
  font-family: pretendard;
  font-size: 35px;
  font-weight: 400;
  color: #c6c6c8;
}

/* ------main------- */
main {
  display: flex;
  flex-direction: column;
  padding: 100px 200px;
  /* border: 1px solid white; */
  gap: 120px;

  font-size: 35px;
  
}


/* --main -> 에정 목록---- */
.update-concerts {
  font-size: 70px;
  font-weight: 300;
  font-style: italic;
}
details {
  padding: 0px 20px 30px 20px;

}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 100px; */
  padding: 30px 50px;
}

summary:hover {
  color: #767882;
  /* transition: 0.1s; */
}

time {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  padding-right: 100px;
}

.year {
  writing-mode: vertical-rl;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
}

.date {
  display: flex;
  font-size: 80px;
  font-weight: 800;
}

.day {
  font-size: 35px;
  font-weight: 500;
  
}

.main-atea{
  display: flex;
  align-items: flex-end;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  
  gap: 20px
}

.atea_name{
  font-size: 42px;
  font-weight: 450;
  color: #bd0f1b;
}

.ticket, .done {
  font-size: 35px;
  font-weight: 350;
  color: #ffffff;
}



/* (디테일 칸) */
.concerts-details {
  display: flex;
  padding: 70px 55px 40px 55px;
  gap: 20px;
  
}

.concerts-details img {
  width: 100%;
  max-width: 350px;
  border-radius: 20px;
  height: auto;
  object-fit: contain;
}

.details-contents{
  line-height: 55px;
}

th {
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  padding: 20px;
  /* color: #a3a2a2; */
}

td {
  font-size: 45px;
  font-weight: 400;
  font-style: normal;

}

/* --main -> 지난 목록---- */
#past-concerts {
  font-style: italic;
  font-size: 70px;
  font-weight: 300;
  color: #aaa9a9;
  padding: 200px 0;
  /* border: 1px solid white; */
}



/* ----목록 내용 펼치기 요소---- */
details summary::marker{font-size:0;}

details summary {
  border-bottom: 1px solid rgb(159, 159, 159);
  cursor: pointer;
  font-style: normal;
}

/* ---------footer-------------------- */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: white;
    color: #4F5054;
}

.footer_social {
    display: flex;
    justify-content: center;
}

.footer img {
    width: 30px;
}
/* 반응형 */

@media(max-width: 1980px) {
  header {
     padding: 150px 150px;  
  }

  .title{ 
  font-size: 40px;
  gap: 13px;
  /* color: red; */
  }
  .title-p, .header_a{
    font-size: 15px;
  }

  /* main */
  main {
    padding: 80px 150px;
  }
  .update-concerts, #past-concerts {
    font-size: 23px;
  }
  .year{
    font-size: 13px;
  }
  .date{
    font-size: 35px;
  }
  .day {
    font-size: 15px;
  }
  .main-atea {
    font-size: 25px;
    
  }
  .atea_name {
    font-size: 19px;
  }
  .ticket, .done{
    font-size: 16px;
  }
  /* 디테일 */
  th{
    font-size: 22px;
    line-height: 10px;
  }

  td{
    font-size: 23px;
  }

  .concerts-details img {
  width: 100%;
  max-width: 170px;
  border-radius: 20px;
  height: auto;
  object-fit: contain;
}
}